@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    font-size: 62.5%;

    --base-color-active: 195;
    --base-color: 240;
    --base-primary-dark: hsla(var(--base-color), 7%, 78%, 1);
    --bg-card-dark: hsla(var(--base-color), 6%, 17%, 1);
    --bg-card-dark-active: hsla(var(--base-color-active), 74%, 15%, 1);
    --base-primary-dark-active: hsla(0, 0%, 100%, 1);

    --bg-card-light: hsla(var(--base-color), 9%, 89%, 1);
    --base-primary-light: hsla(var(--base-color), 6%, 21%, 1);
    --bg-card-light-active: hsla(var(--base-color-active), 97%, 31%, 1);
    --base-primary-light-active: hsla(var(--base-color-active), 97%, 31%, 1)
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.buttonContainer {
    position: relative;
}

.card-active svg path:first-child {
    fill: var(--bg-card-dark-active) !important;
    transition: all .3s ease-in-out;
}

.card-active svg path:nth-child(2) {
    fill: var(--base-primary-dark-active) !important;
    transition: all .3s ease-in-out;
}

.card-active-light svg path:first-child {
    fill: var(--bg-card-light-active) !important;
    transition: all .3s ease-in-out;
}

.card-active-light svg path:nth-child(2) {
    fill: var(--base-primary-dark-active) !important;
    transition: all .3s ease-in-out;
}

.buttonThree svg path:first-child,
.buttonStore svg path:first-child,
.buttonFire svg path:first-child,
.buttonCloud svg path:first-child {
    fill: var(--bg-card-dark)
}

.buttonThree svg path:nth-child(2),
.buttonStore svg path:nth-child(2),
.buttonFire svg path:nth-child(2),
.buttonCloud svg path:nth-child(2) {
    fill: var(--base-primary-dark)
}

.buttonThreeLight svg path:first-child,
.buttonStoreLight svg path:first-child,
.buttonFireLight svg path:first-child,
.buttonCloudLight svg path:first-child {
    fill: var(--bg-card-light)
}

.buttonThreeLight svg path:nth-child(2),
.buttonStoreLight svg path:nth-child(2),
.buttonFireLight svg path:nth-child(2),
.buttonCloudLight svg path:nth-child(2) {
    fill: var(--base-primary-light)
}

.buttonPlusLight svg path,
.buttonSubLight svg path,
.buttonPlayLight svg path,
.buttonStopLight svg path {
    fill: var(--base-primary-light)
}


.dark-mode {
    background-color: #121214;
    transition: all .5s ease-in-out;
}

.light-mode {
    background-color: #FFFFFF;
    transition: all .5s ease-in-out;
}

.container-left {
    text-align: center;
}

.container-display {
    font-size: 110px;
    color: var(--base-primary-light);
}

.dark-font {
    color: #FFFFFF;
    transition: all .3s ease-in-out;
}

.hide {
    display: none;
    transition: all .3s ease-in-out;
}

.mode-container {
    display: flex;
    gap: 19.2rem;
    width: 821px;
    margin: 19.8rem auto auto;
    align-items: center;
}

.dark-mode-button, .light-mode-button {
    position: absolute;
    right: 60px;
    top: 60px;
}

.icons-top {
    display: flex;
    gap: 3.2rem;
    margin-bottom: 3.2rem;
}

.icons-down {
    display: flex;
    gap: 3.2rem;
}

.container-icons-display {
    display: flex;
    gap: 4rem;
}

.volume {
    appearance: none;
    width: 90px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 117px;
    right: 27px;
    transition: all .3s ease-in-out;
}

.volumeLight {
    background-color: var(--base-primary-light);
    transition: all .3s ease-in-out;
}

.volume::-webkit-slider-thumb {
    appearance: none;
    display: block;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 50%;
    color: inherit;
    transition: all .3s ease-in-out;
}

.volumeLight::-webkit-slider-thumb {
    background-color: var(--base-primary-light);
    transition: all .3s ease-in-out;
}

@media (max-width: 950px) {
    .mode-container {
        flex-direction: column;
        max-width: 450px;
        margin-top: 10rem;
        gap: 5rem;
    }

    .dark-mode-button, .light-mode-button {
        right: 20px;
        top: 20px;
    }
}