@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 19.2rem;
    text-align: center;
    justify-content: center;
    margin-top: 19.6rem;
    align-items: center;
}

.container-time {
    font-weight: 500;
    font-size: 80px;
    line-height: 80px;
    color: #323238;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container-icons-status {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.shop, .three {
    margin-right: 3.2rem;
}

