@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --ff-primary: 'Roboto', sans-serif;
    --c-primary-link: #C4C4CC;
    --c-primary-text: #E1E1E6;

    font-size: 62.5%;
}

body * {
    font-size: 1.6rem;
}

body {
    background-image: url("./assets/bg-1.png");
    background-size: 100%;
    background-repeat: repeat-y;
    font-family: var(--ff-primary);
}

img {
    width: 4.9rem;
    height: 4.2rem;
    margin: 4rem 0 0 7.2rem;
}

header {
    display: flex;
    gap: 3.2rem;
    height: 12.2rem;
}

nav {
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.2rem;
    color: var(--c-primary-link);
    width: max-content;
    transition: .3s ease-in-out all;
}

main {
    text-align: center;
    padding-top: 17.2rem;
}

h1 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 125%;
    color: var(--c-primary-text);
    margin-bottom: 2.4rem;
}

main a {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background: none;
    padding: 1.2rem 3.2rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.active, nav a:hover {
    font-weight: 700;
    color: #FFFFFF;
}

.explorer-conteiner, .universe-conteiner {
    max-width: 65rem;
    padding-top: 6.3rem;
    margin-left: 10.2rem;
    margin-right: 2rem;
    text-align: start;
    color: var(--c-primary-text);
}

.explorer-text, .universe-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

.menuMobile {
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    margin: auto 20px auto;
    color: #FFFFFF;
    border: #FFFFFF;
    position: relative;
    border-radius: 5px;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.menuMobile::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 5px;
    width: 30px;
    height: 3px;
    top: -10px;
    left: 0;
    background-color: #FFFFFF;
}

.menuMobile::before {
    content: '';
    display: block;
    border-radius: 5px;
    position: absolute;
    width: 30px;
    height: 3px;
    top: +10px;
    left: 0;
    background-color: #FFFFFF;
}

@media (max-width: 500px) {
    nav {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .menuMobile {
        opacity: 1;
    }
}